@use '../../index.scss' as base;

.dashboard {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.dashboard-header {
    width: 25vw;
    height: auto;
}

.dashboard-card {
    width: 30vw;
    height: 40vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px #BE4E61;
}

.dashboard-image {
    width: auto;
    height: 80%;
}

.dashboard-text { 
    letter-spacing: 1px;
    color:#5e5e5e;
    margin-top: 10px;
    font-weight: 600;

}