@use '../../index.scss' as base;
@import 'react-bootstrap-table2-paginator/dist/react-bootstrap-table2-paginator.min.css';
@import 'react-bootstrap-table2-filter/dist/react-bootstrap-table2-filter.min.css';
@import 'react-bootstrap-table-next/dist/react-bootstrap-table2.min.css';
@import 'react-bootstrap-table2-toolkit/dist/react-bootstrap-table2-toolkit.min.css';


.reservations {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.rw {
    width: 90vw;
    height: auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px #BE4E61;
    padding-top: 15px;
    margin-top: 100px;
}

.page-item.active .page-link {
    background-color: base.$primary-color;
    border-color:base.$primary-color;
    ;
}

.page-link {
    color: base.$text-color;
}

.search-label {
    display: flex !important;
    align-items: center;
    margin-left:10px;
    margin-bottom: 20px;

    .sr-only {
        margin-right: 10px;
    }
}

.selection-cell {
    text-align: center;
}