$font-stack: Raleway, sans-serif;
$primary-color: #EF4765;
$secondary-color: #BE4E61;
$text-color: #5E5E5E;

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: center/ cover no-repeat url(./assets/bg.svg)

}

code {
  font-family: $font-stack;
}
