@use '../../index.scss' as base;

.checkin {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.checkin-text {
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    font-size: 40px;
    text-align: center;
}
